OPENAI_API_KEY=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
LITERAL_API_URL=https://cloud.getliteral.ai
LITERAL_API_KEY=lsk_Tjt5r0yRL5CS7nNKx1MJV0V9lvWadE9wdpK8W2Nw
PERSIST_DIRECTORY="./chunks-semantic"

LANGFUSE_PUBLIC_KEY = "pk-***"
LANGFUSE_SECRET_KEY = "sk-***"
LANGFUSE_HOST = "https://cloud.langfuse.com"
